<!--03/17/2022 -Keben Carrillo: created Register Page-->
<!--03/19/2022 -Keben Carrillo: I was able to fix the whole page background to fill 
                                when in full screen-->
<!--03/19/2022 - Leny: Created the forms for tenant and landlord -->
<!DOCTYPE html>
<html>
<title>Account Selection</title>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="style.css" rel="stylesheet">
    <style>
        body {
            font-family: "Helvetica Neue",Helvetica;
            margin: auto;
        }
        * { box-sizing: border-box; }

        /* style inputs and link buttons */
        input,
        .btn {
            width: 100%;
            padding: 12px;
            border: none;
            border-radius: 4px;
            margin: 5px 0;
            opacity: 0.85;
            display: inline-block;
            font-size: 17px;
            line-height: 20px;
            text-decoration: none;
            /* remove underline from anchors */
        }

        input:hover,
        .btn:hover { opacity: 1; }

        /* style the submit button */
        input[type=submit] {
            background-color: #FFFFFF;
            color: black;
            cursor: pointer;
        }

        input[type=submit]:hover { background-color: #3dbaff; }

        /* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 650px) {
            .col {
                width: 100%;
                margin-top: 0;
            }

            /* hide the vertical line */
            .vl { display: none; }
        }
    </style>
</head>

<body>
    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-top w3-left-align w3-large" style="background-color: #E5F2FF;">
            <div class="w3-bar-item w3-hide-small"><img src="../images/myicon.png" height="45px"></div>
            <a href="../views/home.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Home</a>
            <a href="../views/register.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Register</a>
            <a href="../views/login.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Login</a>
            <a href="../views/aboutus.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About Us</a>
            <a href="../views/contact.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h2 style="text-align:center">Welcome to Rate 'Em</h2>
            <h3 style="text-align:center">Register as...</h3>
            <div class="vl">
                <span class="vl-innertext">or</span>
            </div>
    
            <div class="col">
                <p>Landlord</p>
                <img src="../images/landlord.png" alt="landlord_renting" class="img"><br><br>
                <input onclick="document.getElementById('id01').style.display='block'" type="submit" value="Register">
            </div>
    
            <div class="col">
                <p>Tenant</p>
                <img src="../images/house.png" alt="landlord_renting" class="img"><br><br>
                <input onclick="document.getElementById('id02').style.display='block'" type="submit" value="Register">
            </div>
    
        </div>
    </div>
    
    <footer id="myFooter">
        <div class="w3-container w3-bottom" style="background-color: #E5F2FF;">
            <h4>Rate 'Em</h4>
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </div>
    </footer>
    
    <!-- Pop up register forms -->
    <!-- Landlord -->
    <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
    
            <div class="w3-center"><br>
                <span onclick="document.getElementById('id01').style.display='none'"
                    class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">x</span>
                <label>
                    <h4><b>Welcome!</b></h4>
                </label>
                <class="w3-circle w3-margin-top">
            </div>
    
            <form class="w3-container" action="/action_page.php">
                <div class="w3-section">
                    <h5><b>Account Info:</b></h5>
                    <label><b>*First Name</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter First Name"
                        name="fname" required>
                    <label><b>Middle Name</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Middle Name"
                        name="mname">
                    <label><b>*Last Name</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Last Name"
                        name="lname" required>
                    <label><b>*Phone Number</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Phone Number"
                        name="phonenum" required>
                    <label><b>*Email</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="email" placeholder="Enter Email" 
                        name="email" required>
                    <label><b>*Password</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="password" placeholder="Enter Password" 
                        name="psw" required>
                    
                    <br><h5><b>Property Info:</b></h5>
                    <label><b>*State</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter the state the property is in"
                        name="state" required>
                    <label><b>*City</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter the city the property is in"
                        name="city" required>
                    <label><b>*Zipcode</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter the zipcode of the property"
                        name="zip" required>
                    <label><b>*Number of bathrooms</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="number" min="0" placeholder="Enter the number of bathrooms the property has"
                        name="numOfBathrooms" required>
                    <label><b>*Number of bedrooms</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="number" min="0" placeholder="Enter the number of bedrooms the property has" 
                        name="numOfBedrooms" required>
                    <label><b>*Price</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter the price that the property is listed at" 
                        name="price" required>
                    <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Submit</button>
                </div>
            </form>
    
            <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                <button onclick="document.getElementById('id01').style.display='none'" type="button"
                    class="w3-button w3-red">Cancel</button>
                <span class="w3-right w3-padding w3-hide-small">Already registered? <a
                        href="../views/login.html">Login</a></span>
            </div>
    
        </div>
    </div>
    <!-- Tenant -->
    <div id="id02" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
    
            <div class="w3-center"><br>
                <span onclick="document.getElementById('id02').style.display='none'"
                    class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">x</span>
                <label>
                    <h4><b>Welcome!</b></h4>
                </label>
                <class="w3-circle w3-margin-top">
            </div>
    
            <form class="w3-container" action="/action_page.php">
                <div class="w3-section">
                    <h5><b>Account Info:</b></h5>
                    <label><b>*First Name</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter First Name"
                        name="fname" required>
                    <label><b>Middle Name</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Middle Name"
                        name="mname">
                    <label><b>*Last Name</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Last Name"
                        name="lname" required>
                    <label><b>*Phone Number</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Phone Number"
                        name="phonenum" required>
                    <label><b>*Email</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="email" placeholder="Enter Email" name="email"
                        required>
                    <label><b>*Password</b></label>
                    <input class="w3-input w3-border" type="password" placeholder="Enter Password" name="psw" required>
                    <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Submit</button>
                </div>
            </form>
    
            <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                <button onclick="document.getElementById('id02').style.display='none'" type="button"
                    class="w3-button w3-red">Cancel</button>
                <span class="w3-right w3-padding w3-hide-small">Already registered? <a
                        href="../views/login.html">Login</a></span>
            </div>
    
        </div>
    </div>
</body>
</html>
