html,body,h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto", sans-serif;
  }
  .w3-sidebar {
    z-index: 3;
    width: 250px;
    top: 43px;
    bottom: 0;
    height: inherit;
  }
  .img1 {
    background-image: url("../images/homeimg.jpeg");
    opacity: 0.7;
    height: 400px;
    width: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 95%;
  }
  .txtcolor {
    color: #236c93;
  }
  
* {
    box-sizing: border-box;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type=text]:focus {
    border: 3px solid #555;
  }
  .btn {
      border: none;
      outline: none;
      padding: 12px 16px;
      background-color: white;
      cursor: pointer;
  }
  .btn:hover{
      background-color: lightblue;
   }
   .btn:active{
       background-color: black;
       color: white;
   }

   /* Dropdown Button */
  .dropbtn {
    background-color: white;
    padding: 16px;
    border: 3px solid #ccc;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: lightblue;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown a:hover {background-color: #f1f1f1}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Show the dropdown menu */
  .show {display: block;}

  /* Beds filter */
  /* .buttonStyle { }
  .bed-filter { } */
  .buttonStyle:active, .buttonStyle:focus{ color: lightblue; }


  /* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #111;
}

/* Control the right side */
.right {
  right: 0;
  background-color: red;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* REGISTER PAGE CSS */ 
  
  /* Two-column layout */
  .col {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
  }

  /* vertical line */
  .vl {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #ddd;
    height: 275px;
  }

  /* text inside the vertical line */
  .vl-innertext {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px 10px;
    color: black;
  }
  
  .img {
    width: auto;
    height: 190px;
  }
  
  /* style the container */
  .container {
    border-radius: 5px;
    padding: 60px 0 30px 0;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    color: whitesmoke;
    background-image: linear-gradient(to bottom, black, #3dbaff);
    position: fixed;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 200%;
    position: center;
    align-items: center;
    text-align: center;
  }
  /* style container for tenant & landlord setting */
  .container2 {
    border: none;
    border-radius: 5px;
    padding: 60px 0 30px 0;
    height: auto;
    margin: center;
    background-image: linear-gradient(to right, black, #3dbaff);
    position: fixed;
    top: 0%;
    right: center;
    width: 100%;
    height: 200%;
    position: center;
    align-items: center;
    text-align: center;
  }
  /* Stars color when checked */
  .checked {
    color: orange;
  }
